body {
  background-color: green;
  background-image: url("https://png.pngtree.com/png-vector/20240208/ourmid/pngtree-green-tree-plant-forest-png-image_11716383.png");
  background-repeat: no-repeat;
}

p {
  color: whitesmoke;
  text-decoration-line: underline;
  text-decoration-color: blue;
  text-decoration-style: double;
  letter-spacing: 3px;
  line-height: 5px;
  text-indent: 50px;
  word-spacing: -20px;  
}
