.progress-bar {
    background-color: #DFF8EB;
    flex: 1;
}
.progress-bar > progress {
    border: none;
    background-color: gray;
    border-radius: 0.8rem;
    appearance: none;
    width: 85%;
}
.progress-bar > progress::-moz-progress-bar {
    background: green;
    border-radius: 0.8rem;
}
.progress-bar > progress::-webkit-progress-bar {
    background: gray;
    border-radius: 0.8rem;
}
.progress-bar > progress::-webkit-progress-value {
    background: green;
    border-radius: 0.8rem;
}
.card-total {
    font-size: 1.2em;
}