@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.cards-app {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto 1rem;
}

.title {
    align-self: center;
    font-size: 2em;
    margin: 2.5rem;
    color: #DFF8EB;
}

.progress-bar {
    display: flex;
    justify-content: space-between;
    border-radius: 0.8rem;
    padding: 0.4rem;
    align-items: center;
    background-color: #DFF8EB;
}

.card-content {
    display: flex;
    background-color: #DFF8EB;
    flex-direction: column;
    border-radius: 0.8rem;
}

.card-text {
    align-self: center;
    font-size: 1em;
    padding: 2em;
    font-family:"Funnel Sans", sans-serif;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0.8rem;
    gap: 0.8em;
}

.button {
    flex: 1;
    padding: 0.5rem;
    font-size: 1.0em;
    text-align: center;
    background-color: #CDCDCD;
}

.button:hover {
    background-color: #011638;
    color: #CDCDCD;
    transition: 
        background-color 0.2s,
        color 0.2s;
}

#previous {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#next {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

@media (min-width: 800px) {
    .cards-app {
        width: 70%;
        margin: auto;
    }

}

@media (min-width: 450px) {
    .button {
        padding: 1.2rem;
        font-size: 1.2em;
    }
}
