.cards-app {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    gap: 1em;
}

.title {
    align-self: start;
    margin: 2.5%;
    color: #DFF8EB;
}

.progress-bar {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    border: 2px #CDCDCD solid;
    padding: 5px;
    align-items: center;
    background-color: #DFF8EB;
}

.card-content {
    display: flex;
    background-color: #DFF8EB;
    flex-direction: column;
    /*border: 2px #CDCDCD solid;*/
    border-radius: 10px;
}

.card-text {
    align-self: center;
    font-size: 1em;
    padding: 2em;
    font-family:"PT SANS", sans-serif;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1.2em;
    gap: 0.8em;
}

.button {
    flex: 1;
    font-size: 1.2em;
}

@media (min-width: 1200px) {
    .cards-app {
        width: 60%;
    }
}
