body{
    background-color: steelblue;
    background-image: url("../content/xina.jpg");
}

h1 {
    color: orange; 
    font-family: fantasy;
}

p {
    color:rebeccapurple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

iframe {
    border: none;
}