/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  margin: 0 auto;
	background-color: #364156;
}

.app-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}

.app-cartas{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

button {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}